[alias]
	ci = commit
	cia = commit --amend
	ciaa = commit --amend -a
	co = checkout
	staged = diff --cached
	unstage = reset HEAD
	ss = status --short --branch
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an <%ae>%Creset' --abbrev-commit
	lga = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an <%ae>%Creset' --abbrev-commit --all
	#lol = log --graph --decorate --pretty=oneline --abbrev-commit
	#lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	out = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an <%ae>%Creset' --abbrev-commit --branches --not --remotes
	rollback = reset --soft HEAD~1
        st = status -s
	df = diff --color --color-words --abbrev
	dfc = diff --cached --color --color-words --abbrev
	cl = clone --recurse-submodules
	accept-ours = "!f() { git checkout --ours -- \"${@:-.}\"; git add -u \"${@:-.}\"; }; f"
	accept-theirs = "!f() { git checkout --theirs -- \"${@:-.}\"; git add -u \"${@:-.}\"; }; f"
	rbc = rebase --continue
	rba = rebase --abort
[fetch]
	recurseSubmodules = true
[push]
	default = current
[color]
	ui = auto
[log]
	decorate = full
[branch]
	autosetuprebase = always
[achievement]
	upload = true
[include]
	path = ~/.gituser
[http]
	postBuffer = 524288000
#	proxy = http://10.144.1.10:8080
[https]
	postBuffer = 524288000
#	proxy = https://10.144.1.10:8080
[core]
	excludesfile = ~/.gitignore
	editor = vim
[credential]
	helper = cache --timeout=-1


#[url "git+ssh://mastier1@git.launchpad.net/"]
#        insteadof = lp:
#
#[credential "git+ssh://git.launchpad.net/cpe-deployments"]
# username = "mastier1"

[credential "git+ssh://git.launchpad.net/~landscape/landscape-buildout-dependencies/+git/node_modules"]
	username = "mastier1"

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
