# Folder view configuration files MAC/Windows
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# python compiled stuff
*.pyc
*.pyo
__pycache__*

# temporary files
*.swp
*.swo
*~

# VIM .netrwhist
.netrwhist

# SVN metadata
*.svn*
